<hr>
  <br>
  <br>
  <h2 class="text-center text-primary">Base application</h2>
  <br>
  <hr>
  <div class="container">
    <div class="row ">
      <div class="col center ">
          <button class="btn btn-primary btn-space" routerLink="/home" > Home </button>
          <button class="btn btn-primary btn-space" routerLink="/login">Login</button>
          <button class="btn btn-primary btn-space" routerLink="/services">Services</button>
          <button class="btn btn-primary btn-space" routerLink="/users" >Users</button>
          <button class="btn btn-primary btn-space" routerLink="/products">Products</button>
      </div>
    </div>
  </div>

  
<router-outlet></router-outlet>
